
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

section{

    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}

div{
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    padding: 0.5rem;
}

button{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.5rem;
}


label{
    display: block;
    margin: auto;
    margin-top: 0.25rem;
    padding: 0.5rem;
}


input{
    width: 100%;
    padding: 1rem;
    display: block;
    
}

table{
    width: 100%;
    table-layout: fixed;
    padding: 0.5rem;
}

th,td{
    word-wrap: break-word;
}

table, th, td{
    padding: 0.2rem;
   
    border: 2px solid ;
    border-collapse: collapse;
}

.div-cashGiven{
    display: none;
}